h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

code {
  color: var(--text);
  font-family: var(--monospace);
  font-size: var(--font-size-base);
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/*dl {
  margin-bottom: var(--md-pad);
}*/

dd {
  margin-left: var(--xlg-pad);
}

/*ul,
ol {
  margin: var(--zero);
  vertical-align: baseline;
}*/

blockquote {
  border-left: 2px solid var(--text);
  font-family: var(--serif);
  font-style: italic;
  margin: var(--md-pad) 0;
  padding-left: var(--md-pad);
}

figcaption {
  font-family: var(--serif);
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

sup {
  font-size: var(--font-size-sm);
  vertical-align: super;
}

sub {
  font-size: var(--font-size-sm);
  vertical-align: sub;
}

mark {
  background-color: var(--yellow);
}
