.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  background: #fff;
  padding: 0 50px;
  
  &__logo {
    height: $header-height;
    
    &__pic {
      display: inline-block;
      background-image: url(../images/logo.png);
      background-repeat: no-repeat;
      height: 40px;
      width: 40px;
      margin-top: 10px;
    }
  }
}