.nav {
  @include center-block;
  height: $header-height;
  
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
  }

  &__item {
    padding-right: 20px;
    
    &.last {
      padding-right: 0;
    }
  }
  
  &__link {
    text-decoration: none;
    display: inline-block;
    color: #060b35;
    font-size: 12px;
    font-weight: 500;
    line-height: $header-height;

    &:hover {
      color: $activeLinkColor;
    }

    &.is-active {
      color: $activeLinkColor;
      position: relative;
    }
    
    &.is-active::after {
      content: "";
      color: $activeLinkColor;
      display: block;
      border: 2px solid $activeLinkColor;
      border-radius: 8px;
      @include absolute-positioning;
    }
  }
}