/* Styles go here */
* {
  box-sizing: border-box;
}

.header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header__logo-link {
  display: block;
  width: 40px;
  height: 40px;
}

.nav {
  padding: 23px 0;
  margin-right: 50px;
}

.list {
  display: flex;
}

.items__link {
  text-decoration: none;
  color: #000;
  padding: 23px 0;
}

.items__link:hover {
  color: #00acdc;
}

.is-active {
  position: relative;
  color: #00acdc;
}

.is-active::after {
  position: absolute;
  content: "";
  width: 37px;
  height: 4px;
  border-radius: 8px;
  background: #00acdc;
  top: 56px;
  left: 0;
}

.list__items {
  margin-right: 20px;
}

.list__items:last-child {
  margin-right: 0;
}
