:root {
  --blue-color: #00acdc;
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(../../fonts/Roboto/Roboto-Medium.ttf);
}
