@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  font-family: Roboto, Helvetica, sans-serif;
}

.header {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
}

.navbar__item {
  position: relative;
  margin-right: 20px;
}

.navbar__item:last-child {
  margin-right: 0;
}

.navbar__link {
  display: flex;
  align-items: center;
  height: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}

.navbar__link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
}

.is-active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 8px;
  background-color: #00acdc;
}
