.header {
  padding: 0 var(--header-padding-left-right);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header__logo {
  display: flex;
}

.header__logo-img {
  max-width: 100%;

  object-fit: contain;
  object-position: center;
}
