.nav__list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style-type: none;
}
  
.nav__item:not(:first-child) {
  padding-left: var(--nav-item-padding-left);
}
  
.nav__link {
  height: var(--nav-link-height);
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14px;
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
}
  
.nav__link:hover {
  color: var(--color-light-blue);
}
