@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --blue: #00acdc;
}

html,
body,
a,
img,
ul,
li {
  margin: 0;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  font-size: 12px;
}
