.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo-link {
  display: block;
  height: 40px;
  width: 40px;
}
