html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;

  --header-height: 60px;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}
