* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

picture,
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	min-width: 0;
}

.hidden,
[hidden],
template {
	display: none;
}

b,
strong {
	font-weight: bold;
}

small {
	font-size: 75%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

svg:not(:root) {
	overflow: hidden;
}

button,
html input[type='button'] {
	cursor: pointer;
	appearance: button;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	pointer-events: none;
	user-select: none;
	border: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.clearfix {
	clear: both;
}
