$color: #00acdc;

body {
  margin: 0;
}

.header {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
}

.nav {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;

    &:hover {
      color: $color;
    }
  }

  &__item--active .nav__link {
    color: $color;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $color;
      border-radius: 2px;
    }
  }
}
