body,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

:root {
  --active-color: #00acdc;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 14.6px;
  background-color: antiquewhite;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.logo_img {
  max-width: 100%;
}

.nav {
  flex: auto;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__list li {
  margin: 0 10px;
}

.nav__link {
  font-weight: 500;
  margin-right: 20px;
  color: #000;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  font-size: 12px;
}

.is-active::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -18px;
  left: 0;
  border-radius: 8px;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  padding-bottom: 0;
}

.nav__list a:hover {
  color: var(--active-color);
}
