body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

header {
  padding: 0 50px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.full_height {
  height: 100%;
}

.logo_container {
  align-self: center;
  padding-top: 1px;
}

.nav {
  display: flex;
}

.nav_ul {
  margin: 0;
  display: flex;
  align-items: center;
}

.nav_ul_item {
  list-style: none;
}

.nav_link {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: 20px;
  align-items: center;
  display: flex;
}

.nav_link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
  position: relative;
}

.is-active::after {
  position: absolute;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  content: "";
  background: #00acdc;
  bottom: 0;
}
