@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.siteMenu {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.menuLogo {
  align-self: flex-start;
  margin: 10px 50px;
  width: 40px;
  height: 40px;
}

.menuButtonContainer {
  display: flex;
  justify-content: baseline;
  text-align: center;
  margin-right: 40px;
}

.menuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 60px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: black;
  text-align: center;
  align-self: center;
  margin: 0 10px;
}

.is-active {
  color: #00acdc;
  border-bottom: 4px solid #00acdc;
  border-radius: 4px;
}

.menuButton:hover {
  color: #00acdc;
}

.menuButton:active {
  border-bottom: 4px solid #00acdc;
  border-radius: 4px;
}
