:root {
  --color-black: #000;
  --color-white: #fff;
  --color-light-blue: #00acdc;

  --header-padding-left-right: 50px;

  --nav-item-padding-left: 20px;
  --nav-link-height: 60px;
  --nav-link-height: 60px;

  --is-active-height: 4px;
  --is-active-border-radius: 4px;

}
