$font-stack: "Roboto", Arial, sans-serif;
$accent-color: #00acdc;
$text-color: #000;

@mixin font($size: 12px, $weight: 500, $height: 14px) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 50px;

  &__logo {
    height: 40px;
    width: 40px;
  }

  &__navigation {
    color: $text-color;
    font-family: $font-stack;
    @include font(12, 500, 14);
  }

  &__navigation-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__navigation-item:not(:last-child) {
    margin-right: 20px;
  }

  &__navigation-item a {
    position: relative;
    display: block;
    height: 60px;

    line-height: 60px;
    color:$text-color;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__navigation-item a:hover,
  &__navigation-item--active a {
    color: $accent-color;
  }

  &__navigation-item--active a::after {
    position: absolute;
    bottom: 0;
    content: "";

    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 4px;
  }
}
