.menu {
  font-family: Roboto,sans-serif;
  height: 60px;
  display: flex;

  &__headBox {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    width: 1200px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__logo {
    height: 40px;
  }

  &__flex {
    display: flex;
    flex-direction: row;
  }

  &__list {
    display: flex;
    margin-right: 20px;
  }

  &__link {
    text-decoration: none;
    color: #000;
  }

  &__list:last-child {
    margin-right: 0;
  }
}
